/* Importacion de las variables de entorno */
@import url(./variables.css);

html{
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    scrollbar-width: none;
}

.body-img {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0;
    z-index: -1;
    filter: brightness(80%) contrast(110%);
;}

.content {
    position: relative;
    z-index: 1;
    color: var(--white);
    padding: 2rem;
}