/* Importar variables centralizadas */
@import url('./variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     overflow-y: hidden;
 */}

body {
    font-family: var(--main-font);
    background: #F4F6F9;
    color: #1f2937;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

/* HEADER */

.header-resultados {
    text-align: center;
    padding: 3rem 1rem;
}

.header-resultados h1 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #0B4FA1;
    margin-bottom: 0.5rem;
}

.header-resultados p{
    font-size: 1rem;
    color: #6b7280;
}

/* CONTENERDOR PRINCIPAL */

.contenedor-principal {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1.5rem;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

/* CARDS */

.card {
    background: #ffffff;
    border-radius: 0.75rem;
    padding: 2rem;

    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.08);
}

.card header {
    margin-bottom: 1.5rem;
}

.card h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.card-resumen {
    background: #FFFFFF;
    border-radius: 0.75rem;
    padding: 2rem;

    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.08);
}

.resultado-total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 18rem;
}



/* RESULTADO GENERAL */

.resultado-total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.porcentaje {
    font-size: 4.5rem;
    font-weight: 700;
    color: #0b4fa1;
    background: #EEF4FF;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    margin-bottom: 0.75rem;
}

.descripcion {
    font-size: 1rem;
    color: #6b7280;
}

/* GRAFICO */

.grafico-container {
    background: #FFFFFF;
    border-radius: 0.75rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.08);
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.grafico-container canvas {
    width: 100% !important;
    height: 18rem !important;
}

figcaption {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #6b7280;
}

#graficoResultados {
    max-height: 20rem;
}

/* FOOTER */

.footer-resultados {
    margin-top: auto;
    text-align: center;
    padding: 2rem 1rem;
}

/* BOTON */

.boton-volver{
    display: inline-block;
    text-decoration: none;

    background: #0b4fa1;
    color: white;

    padding: 0.75rem 2rem;
    border-radius: 0.5rem;

    font-size: 1rem;
    font-weight: 500;

    transition: all 0.25s ease;
}

.boton-volver:hover {
    transform: translateY(-0.15rem);
    box-shadow: 0 0.4rem 0.9rem rgba(0,0,0,0.15);
}