/* Importacion de las variables de entorno */
@import url(./variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--main-font);
    background: var(--gray-100);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow: hidden;
    padding: 1rem 0 2rem;
    font-size: 0.9rem;
}

/* CONTENEDOR PRINCIPAL */
.sep-evaluacion{
    width: min(85rem, 92%);
    background: var(--gray-50);
    padding: 1.2rem;

    border-radius: 0.7rem;
    border: 0.1rem solid var(--gray-200);

    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.10);
}

/* HEADER */
.sep-evaluacion__header{
    text-align: center;
    margin-bottom: 1.2rem;
}

.sep-evaluacion__header h1{
    color: var(--primary1-950);
    margin-bottom: 0.3rem;
    font-size: 1.4rem;
}

.sep-evaluacion__header p{
    color: var(--gray-600);
    font-size: 0.9rem;
}

/* PREGUNTAS */
.sep-pregunta{
    border: 0.1rem solid var(--gray-200);
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;

    background: var(--white);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    transition: all 0.25s ease;
}

.sep-pregunta:hover{
    border-color: var(--gray-400);
    transform: translateY(-0.15rem);
    box-shadow: 0 0.3rem 0.7rem rgba(0,0,0,0.06);
}

.sep-pregunta label{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;

    padding: 0.45rem;
    border-radius: 0.4rem;

    cursor: pointer;
    transition: 0.3s;
}

.sep-pregunta label:hover{
    background: #E8F2FF;
}

.sep-pregunta legend{
    grid-column: 1 / -1;
}

/* TEXTO */
legend{
    font-weight: 600;
    margin-bottom: 0.7rem;
    color: var(--gray-600);
    font-size: 0.95rem;
}

label{
    display: block;
    padding: 0.45rem;
    border-radius: 0.4rem;
    color: var(--gray-800);
    cursor: pointer;
    transition: 0.2s;
    font-size: 0.9rem;
}

label:hover{
    background: var(--gray-50);
}

/* INPUTS */
input[type="radio"]{
    transform: scale(0.95);
}

/* BOTONES */
.sep-acciones{
    grid-column: 1 / -1;
}

button{
    background: var(--primary1-950);
    color: var(--white);

    border: none;
    padding: 0.6rem 1.4rem;

    border-radius: 0.5rem;
    font-size: 0.9rem;

    cursor: pointer;
    transition: 0.25s;
}

button:hover{
    background: var(--gray-800);
}

/* RESULTADO */
.sep-resultado{
    margin-top: 1.2rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--gray-900);

    grid-column: 1 / -1;
}

/* FORMULARIO GRID */
#sep-formEvaluacion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media (max-width: 1064px){
    body{
        overflow: auto;
        padding: 0.8rem 0 1.5rem;
    }

    .sep-evaluacion{
        width: 95%;
        padding: 1rem;
    }

    #sep-formEvaluacion{
        grid-template-columns: 1fr;
    }

    .sep-pregunta{
        grid-template-columns: 1fr;
    }
}