<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/cards_capacitacion.css">
</head>
<body>
    <h1 class="title">Ingrese la inducción a la que desea aplicar.</h1>
    <h1 class="main-container">
        <article class="card_one" onclick="location.href= '' ">
            <header class="container">
                <h1> Auxiliar Logístico </h1>
                <img class="one_image" src="../IMG/Auxiliar-logistico-card.JPG" >
            </header>

            <p class="descripcion">Presione aqui para la inducción de Auxiliar Logistico</p>

            <footer>
                <a href="aux_log.html"><button class="boton1">Ingresar</button></a>
            </footer>
        </article>


        <article class="card_two" onclick="location.href= '' ">
            <header class="container">
                <h1> Auxiliar Separación </h1>
                <img class="one_image" src="../IMG/Auxiliar-separacion-card.JPG" >
            </header>

            <p class="descripcion">Presione aqui para la inducción de Auxiliar de Separación</p>

            <footer>
                <a href="aux_sep.html"><button class="boton2">Ingresar</button></a>
            </footer>
        </article>


        <article class="card_third" onclick="location.href= '' ">
            <header class="container">
                <h1> Auxiliar Bodega </h1>
                <img class="one_image" src="../IMG/Auxiliar-bodega-card.JPG" >
            </header>

            <p class="descripcion">Presione aqui para la inducción de Auxiliar de Bodega</p>

            <footer>
                <a href="aux_bod.html"><button class="boton3">Ingresar</button></a>
            </footer>
        </article>


        <article class="card_four" onclick="location.href= '' ">
            <header class="container">
                <h1> Líder de Bodega </h1>
                <img class="one_image" src="../IMG/Lider-bodega-card.JPG" >
            </header>

            <p class="descripcion">Presione aqui para la inducción de Líder de Bodega</p>

            <footer>
                <a href="jefe_bod.html"><button class="boton4">Ingresar</button></a>
            </footer>
        </article>


    </main>
</body>
</html>