<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capacitate con nosotros</title>
    <link rel="stylesheet" href="../CSS/mode_capacitation.css">
    
</head>
<body>
    <img class="body-img" src="../IMG/LOGO6.jpeg">

    <a class="btn-back" href="index.html">← Volver</a>

    <main class="main-container"> 
        <article class="card1" onclick="location.href='' ">
            <header class="card_header">
                <h1>Primer paso seguro</h1>
                <figure>
                    <video class="icon-mp4" autoplay muted loop>
                        <source src="../IMG/video2.mp4" type="video/mp4">
                    </video>
                </figure>
            </header>

            <p class="desc">Presione aqui para iniciar con la inducción genérica.</p>

            <footer>
                <a id="link-general" href="home1.html">
                    <button id="btn-general" class="btn1">Ingresar</button>
                </a>
            </footer>
        </article>
        
        <article class="card2" onclick="location.href='' ">
            <header class="card_header">
                <h1>Tu puesto, Tu impacto</h1>
                <figure>
                    <video class="icon-mp4" autoplay muted loop>
                        <source src="../IMG/VIDEO 1 ALPINA.mp4" type="video/mp4">
                    </video>
                </figure>
            </header>

            <p class="desc">Presione aqui para iniciar con la inducción del cargo.</p>

            <footer>
                <a id="link-modulo" href="cards_capacitacion.html">
                    <button id="btn-modulo" class="btn2">Ingresar</button>
                </a>
            </footer>
        </article>
    </main>

    <script src="../controllers/mode_capacitation.js"></script>
</body>
</html>